<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login screen</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
</head>
<body>
<section class="text-center">
    <img th:src="@{/images/dashboard/digitalPlannerLogo.png}" alt="Digital Planner Logo" class="logo-img img-fluid mb-4"/>
    <div class="card w-50 mx-auto" id="loginCard">
        <div class="card-header">
            <h2 class="welcome-text">Welcome Back!</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Email and Password.</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success">You have been logged out.</div>
                    </div>
                </div>
                <div class="card-body py-5 px-md-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <form method="post" th:action="@{/login}" class="form-horizontal" role="form">
                                <div class="mb-3">
                                    <label for="username" class="control-label">Email *</label>
                                    <input type="text" id="username" name="username" class="form-control"
                                           placeholder="Enter your email"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="control-label">Password *</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                           placeholder="Enter your password"/>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <span> Not registered?
                                        <a th:href="@{/register}"> Let's get started!</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
