<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link th:href="@{css/stylesheet.css}" type="text/css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Digital Planner</title>
</head>
<body>
<div class="container-flex">

  <!-- Insert sidebar fragment based on user role -->
  <div th:if="${isSetupDone}">
    <div th:if="${isAdmin}">
      <div th:insert="~{fragments/sidebarAdmin_fragment :: sidebarContent}"></div>
    </div>
    <div th:unless="${isAdmin}">
      <div th:insert="~{fragments/sidebarUser_fragment :: sidebarContent}"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card" id="popupCard">
        <div class="card-header">
          <h3>Staff Function</h3>
        </div>
        <div class="card-body">
          <div>
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Staff function</th>
                <th>Description</th>
                <th>Edit/Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="staffFunction : ${staffFunctions}">
                <td th:text="${staffFunction.functionName}"></td>
                <td th:text="${staffFunction.functionDescription}"></td>
                <td>
                  <a class="btn btn-primary" th:href="@{/editStaffFunction/} + ${staffFunction.functionName}">Edit</a>
                  <a class="btn btn-danger" th:href="@{/deleteStaffFunction(functionName=${staffFunction.functionName})}" >Delete</a>
                </td>
              </tr>
              </tbody>
              <p class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            </table>
          </div>
          <form class="needs-validation" action="#" th:action="@{/staffFunction}" th:object="${staffFunction}" method="post" novalidate>
            <div class="mb-5">
              <label class="form-label">Function name
                <input th:field="*{functionName}" type="text" placeholder="name" class="form-control" required>
                <div class="invalid-feedback">Function name address is required</div>
              </label>
              <label class="form-label">Description
                <input th:field="*{functionDescription}" type="text" placeholder="description" class="form-control" required>
                <div class="invalid-feedback">Function description address is required</div>
              </label>
              <p class="text-danger" th:if="${#fields.hasErrors('functionName')}" th:errors="*{functionName}"></p>
              <div class="invalid-feedback"></div>
              <br>
              <button class="btn btn-primary" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>
</body>
</html>