<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
</head>
<body class="bg-light">

<!-- Insert sidebar fragment based on user role -->
<div th:if="${isSetupDone}">
    <div th:if="${isAdmin}">
        <div th:insert="~{fragments/sidebarAdmin_fragment :: sidebarContent}"></div>
    </div>
    <div th:unless="${isAdmin}">
        <div th:insert="~{fragments/sidebarUser_fragment :: sidebarContent}"></div>
    </div>
</div>
<section class="text-center">
    <div class="p-5" id="loginBanner">
        <h1>Digital Planner</h1>
    </div>
    <div class="card w-50 mx-auto" id="loginCard">
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
                <h2>Company opening days</h2>
                <form action="#" th:action="@{/company/exception}" th:object="${exceptionDay}" method="POST">
                    <fieldset>
                        <table style="width:100%" class="table">
                            <h4>Specify the yearly exceptions (for example, holidays, shopping Sunday,...) </h4>
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th title="Check the box for open days">Open &#9432</th>
                                <th>Opening Time</th>
                                <th>Closing Time</th>
                                <th title="Give the minimal staff occupation for this day ">Min occupancy &#9432
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <td><input type="date" th:field="*{date}" class="form-control"/>
                            <td><input type="checkbox" id="box" value="false"
                                       th:field="*{open}"/></td>
                            <td><input type="time" th:field="*{startTime}"/>
                            </td>
                            <td><input type="time" th:field="*{endTime}"/>
                            </td>
                            <td><input type="number" min="0" style="width: 3em"
                                       th:field="*{minimalOccupation}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <br>
                        <br>
                        <a th:if="!${isSetupDone}" class="btn btn-primary" th:href="@{/department}">Go to departments</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
